<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1> Are you sure you want to delete {{deleterest.name}}? </h1>

<form action="{{url_for('deleteRestaurant',restaurant_id =deleterest.id)}}" method = 'POST'>

<input type='submit', value = 'Delete'>

</form>

<a href='{{url_for('showRestaurants',restaurant_id = deleterest.id)}}'>Cancel</a>
</body>

</html>