<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1> New Menu Item </h1>

<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>

<p>Name:</p>
<input type='text' size='30' name='name'>
<p>Description:</p>
<textarea name='description' rows="10" cols="150"></textarea>
<p>Price:</p>
<input type='text' size='15' name='price'>

<p>Select the Course type:</p>
<input type="radio" name='course' value="appetizer">Appetizer<br>
<input type="radio" name='course' value="soup">Soup<br>
<input type="radio" name='course' value="meals">Meals<br>
<input type="radio" name='course' value="entree">Entree<br>
<input type="radio" name='course' value="desserts">Desserts<br>
<input type="radio" name='course' value="drinks">Drinks<br>
<br>
<input type='submit' value='Create'>
<a href="{{url_for('showRestaurants')}}">Cancel</a>
</form>

</body>
</html>