<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>All restaurants name</h1>
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for i in name %}
<div>
<p>{{i.id}}</p>
<p>{{i.name}}</p>
<a href='{{url_for('editRestaurant',restaurant_id = i.id)}}''>EDIT</a><br>
<a href='{{url_for('showMenu',restaurant_id = i.id)}}''>SHOW MENU</a><br>
<a href='{{url_for('deleteRestaurant',restaurant_id = i.id)}}''>DELETE</a><br>
</div>
{% endfor %}
<br>
<br>
<a href='{{url_for('disconnect')}}'>log out</a>
</body>
</html>